.image-upload {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.progress {
    width: 100%;
}