* {
  margin: 0;
}

/* .App {
  height: 100vh;
} */

.app_header {
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  object-fit: contain;
  border-bottom: 2px solid orange;
}

.images_conatiner {
  display: flex;
  flex-direction: column;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.app_signup {
  display: flex;
  flex-direction: column;
}


h3 {
  text-align: center;
}
