* {
  margin: 0;
}

.app {
  height: 100vh;
}

.app_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  object-fit: contain;
  border-bottom: 2px solid black;
}
